<h1 class="Titulo">Centro de Mensajes</h1>

<br /><br />
<div class="container">
  
    <input id="id" type="email" required class="form-control" placeholder="Ingrese su email" >
    <br>
  <input id="nombre" type="text" class="form-control" placeholder="nombre" >
  <br>
  <input id="apellido" type="text" class="form-control" placeholder="apellido" >
  <br>
  <input id="edad" type="number" class="form-control" placeholder="edad" >
  <br>
  <input id="alias" type="text" class="form-control" placeholder="alias del usuario" >
  <br>
  <input id="avatar" type="text" class="form-control" placeholder="link avatar">
  <hr>
  <br>
  <textarea id="text" name="text" cols="30" rows="5" placeholder="Ingrese su mensaje" class="form-control" style="resize: none"></textarea>
  
  <br>
  <button id="send" class="btn btn-info">Enviar</button>
  <br><br>
  <hr>
  
  <div id="messages" /></div>
</div>
