<!-- cartel en rojo error en iniciar sesion -->
<%- include('../public/header')%>
<div class="container mt-3">

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>Usuario o contraseña incorrectos</p>
        <hr>
        <a href="/login" class="btn btn-primary mt-3">Volver a intentar</a>
    </div>
</div>