<h1 class="Titulo">Lista de Productos</h1>
<br /><br />
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">foto</th>
      </tr>
    </thead>
    <tbody id="tablaProductos"></tbody>
  </table>
</div>
