<%- include('../public/header')%>
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Registro de Usuario</h1>
        <br>
        <form action="/register" method="post" autocomplete="off">
            <div class="form-group">
                <label for="username">Ingrese su e-mail</label>
                <input id="username" class="form-control" type="text" name="username" required>
                <label for="password">Ingrese su contraseña</label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-success mt-3">Enviar</button>
            <a href="/login" class="btn btn-primary mt-3">Ya tengo cuenta</a>
        </form>
    </div>
</div>