<%- include('../public/header')%>
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Registro de Usuario</h1>
        <br>
        <form action="/register" method="post" autocomplete="off">
            <div class="form-group">
                <label for="name">Ingrese su Nombre</label>
                <input id="name" class="form-control" type="text" name="name" required>
                <label for="address">Ingrese su Dirección</label>
                <input id="address" class="form-control" type="text" name="address" required>
                <label for="age">Ingrese su Edad</label>
                <input id="age" class="form-control" type="number" name="age" required>
                <label for="phone">Ingrese su Teléfono</label>
                <input id="phone" class="form-control" type="number" name="phone" required>
                <laber for="image">Ingrese su Imagen</laber>
                <input id="image" class="form-control" type="file" name="file" required>
                <label for="username">Ingrese su e-mail</label>
                <input id="username" class="form-control" type="text" name="username" required>
                <label for="password">Ingrese su contraseña</label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-success mt-3">Enviar</button>
            <a href="/login" class="btn btn-primary mt-3">Ya tengo cuenta</a>
        </form>
    </div>
</div>